/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: blueviolet;
}
.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.note-card {
  width: 100%;
  max-width: 300px;
}

.note-form {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
